$bg-color: rgb(166, 184, 185);

.loading-draft-container {
  max-width: 700px;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  .loading-draft {
    margin-top: 2em;
    width: 100%;
    padding: 25px 10px;
    box-shadow: 5px 5px 10px rgb(149, 150, 150);
    border-radius: 5px;
    animation: changeOpacity 0.5s linear infinite;
    .loading-height1 {
      width: 100%;
      height: 1.5em;
      background: $bg-color;
    }
    .loading-width1 {
      width: 80%;
      height: 1.5em;
      margin-top: 10px;
      background: $bg-color;
    }
  }

  @keyframes changeOpacity {
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.6;
    }
  }
}
