@import url('https://fonts.googleapis.com/css?family=Vesper+Libre:900&display=swap');
@import '../../styles/font-awesome/css/font-awesome.min.css';

#desktopOnly {
  display: block;
}

nav {
  box-shadow: 1px 1px 5px grey;
}

.bg-light {
  background-color: white !important;
}

.navbar-brand {
  font-family: 'Vesper Libre', serif;
  font-size: 1.5em;
  @media (max-width: 992px) {
    padding: 7.5px !important;
  }
}

.dropdown-item {
  padding: 0;
  &:active {
    color: black;
    background-color: transparent;
    outline: none;
  }
}

.dropdown-link {
  text-decoration: none;
  width: auto;
  display: block;
  color: black;
  padding: 5px;
  padding-left: 15px;
  margin-bottom: 10px;
  &:hover {
    text-decoration: none;
    outline: none;
    svg {
      fill: orange;
    }
  }
  &.active {
    color: orange;
    border-left: 2px solid orange;
    svg {
      fill: orange;
    }
  }
}

.nav-link,
.dropdown-link {
  @media (max-width: 992px) {
    padding-left: 20px !important;
  }
  &:hover {
    color: orange !important;
    svg {
      fill: orange;
    }
  }
}

.nav-item {
  padding: 0.25rem !important;

  &.active {
    .nav-link {
      color: orange !important;
      svg {
        fill: orange;
      }
    }

    border-bottom: 2px solid orange !important;

    @media (max-width: 992px) {
      border-bottom: 0 !important;
      border-left: 2px solid orange !important;
    }
  }

  @media (max-width: 992px) {
    padding: 0 !important;
  }
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.05em;
  color: black;
}

.btn-primary.dropdown-toggle#menuBtn {
  color: black;
}

.btn-primary:not(:disabled):not(.disabled):active#menuBtn,
.show > .btn-primary.dropdown-toggle#menuBtn {
  color: black !important;
}

.nav-link {
  border: none;
  outline: none;
  color: black;
  &:hover,
  &:active,
  &:focus {
    border: none;
    outline: none;
    color: black;
  }
}

.dropdown-toggle {
  background-color: inherit;
  color: rgb(175, 175, 175);
  border: none;
  outline: none;
  box-shadow: none;
  margin-top: 2px;
  &:hover,
  &:active,
  &:focus {
    color: #cccecf;
    background-color: inherit;
    border: none;
    box-shadow: none;
  }
}

.mobileOnly {
  display: none;
}

.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  &#menuBtn {
    color: #cccecf;
    background-color: inherit;
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
}

@media (max-width: 992px) {
  #desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: block;
  }

  .mobileMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: translateX(100%);
    transition: all ease 0.4s;
    &.open {
      transform: translateX(0);
    }
  }

  .navbar-collapse {
    margin-top: 55px;
    width: 50%;
    min-width: 220px;
  }

  .navbar-toggler {
    outline: none !important;
    border: none !important;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    &.open {
      display: block;
      z-index: 2;
    }
  }
}
